@import '../../assets/css/color.scss';
.loading-wrap{
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 20px;
    color: $font-color;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        color: #fff;
    }
}