$basis-color: #231b4d;
$light-color: #504680;
$lighter-color: #c9c3e6;
$modal-bg-color: #444d54;
$hover-color: #ffbf58;
$font-color: #8f86bf;
$active-color: #40dfff;
$border-color: #cc4ad3;
$bg-color: #4c2b9f;