@import '../../assets/css/color.scss';
.table-left{
    .left, .right{
        flex: 1;
        text-align: center;
        img{
            height: 36px;
        }
    }
    .center{
        display: inline-block;
        padding: 0 4px;
        line-height: 1.416;
        background-color: $border-color;
        color: #fff;
        border-radius: 5px;
    }
}
.coin{
    height: 32px;
}
.self{
    color: $border-color;
}
.loading-wrap{
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 20px;
    color: $font-color;
    transition: all .3s;
    cursor: pointer;
    &:hover{
        color: #fff;
    }
}
.circle{
    :global{
        .ant-progress-text{
            font-size: 14px!important;
            font-weight: 600!important;
        }
    }
}
.icon{
    font-size: 28px;
}
.smile{
    animation: smile 1.2s ease-in-out 1;
}
.frown{
    animation: frown 1.2s ease-in-out 1;
}
@keyframes smile{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes frown{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}